
# User-specific stuff:
.idea/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/*
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# database file
**/*.sqlite3
**/*.sqlite
**/*.db
data_store.db

**/.idea/*
# Byte-compiled / optimized / DLL files
*/__pycache__/
*.py[cod]
*$py.class
*.pyc
__pycache__