<!--HTML for first landing page of the application-->

<!DOCTYPE html>
<html>
<body>

<img src="static/images/logo.png" width="257" height="259">


<!-- Form: (Will be changed to Google Sign-in/OAuth)Login Here w/Email + Password-->
<form id="login" action="/login" method="post">
    <h1>Sign In Here:</h1>
    <br>
    <label for="username">Username: </label>
    <input type="text" id="username" name="username"/>
    <br>
    <label for="password">Password : </label>
    <input type="password" id="password" name="password" />
    <br>
    <button type="submit">Sign In</button>
    <span style="color: red">{{error_text}}</span><br/>
    <!-- "Click here to sign up" Link to signup.html-->
    <span> Not a user? <a href="signup.html">Click here to sign up.</a></span>
</form>






</body>
</html>

